@page
@model IndexModel
@{
    ViewData["Title"] = "АБСОЛЮТНО СЕКРЕТНЫЙ САЙТ";
}

<div class="text-center">
    <h1 class="display-4">Пиво!!!</h1>
    <p>Узнайте о <a href="https://steamcommunity.com/id/JohnasPolas">индиане все подробности.</a></p>
    <img src="Images/indiana.jpg" alt="Вот он, настоящий пельмень..."/>
</div>